body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}


.header {
    color: white;
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1f2937;
}

.logo {
    display: flex;
    margin: 20px;
    align-items: center;
}

.links {
    color: white;
    display: flex;
    margin: 20px;
    align-items: center;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
}

.top-content {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
}

.top-content text {
    color: #e5e7eb;
}

.top-content img {
    width: 400px;
    margin: 20px;
}

.start {
    max-width: 150px;
    margin: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.mid-content {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
    margin: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.mid-content img {
    height: 100px;
    width: 100px;
}

.cat {
    max-width: 100px;
    text-align: center;
}

.bottom-content {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    max-width: 350px;
}

.final {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
 
}

.signup {
    display: flex;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
    justify-content: space-around;
    width: 600px;
}
.bottom-content, .mid-content, .top-content{
    flex:1;
}
.footer {
    text-align: center;
    color: white; 
   
}