body{
    display: flex;
    flex-direction: column;
}
.header, .footer{ 
    background-color: #1f2937;
    
}
.header{
    color: white;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    margin: 10px;
    align-items: center;
}
.links{
    color: white;
    display: flex;
    margin: 8px;
    align-items: center;
}
button{
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
}
.top-content{
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;  
    color: white;
    justify-content: space-around;
}
.top-content text{
    color: #e5e7eb;
}
.top-content img{
    width: 200px;
}
.start{
    max-width: 150px;
}
.mid-content{
    display: flex;
    justify-content: center;
}
.description{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
    margin: 20px;
}
.container{
    display: flex;  
    gap: 20px;
}
.mid-content img{
    height: 100px;
    width: 100px;
}
.cat{
    max-width: 100px;
    text-align: center;
}
.bottom-content{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.final{
    display: flex;  
    justify-content: center;
    align-items: center;
}
.signup{
    display: flex;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}
.footer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: flex-end;
}